html {
    background-color: rgb(201, 216, 199);
}

.mainHeading {
    text-align: center;
}

.about {
    width: 350px;
    align-items: center;
    margin: auto;
    border: 5px;
    background-color: #69b47f;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 13px 7px #8080804f;


}

.aboutText {
    font-size: 1.5em;
}
.postContainer {
    margin: 85px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .postContainer {
        border-radius: 3px;
        box-shadow: 5px 5px 13px 7px #8080804f;
        padding: 10px;
        margin: 5px;
        background-color: #69b47f;
    }
    
    .postContainer a p {
        width: 250px;
    }
    
    .postContainer img {
        height: 150px;
        width: 300px;
        object-fit: cover;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        background: #69b47f;
    }
    
    .nav ul {
        display: flex;
        list-style: none;
    }
    
    .nav li {
        padding-left: 1rem;

}

.nav a {
    text-decoration: none;
    font-size: 2.0em;
}
/* Contact*/
.container {
    max-width: 600px;
    margin: 150px;

}

form {
    padding: 1em;
    background: #69b47f;
    border-radius: 1rem;
}

input {
    width: 96%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button {
    background: rgb(0, 0, 0);
    border: black;
    width: 200px;
    padding: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 22px;
}

label {
    display: block;
    margin-top: 1rem;
    color: black;
}

.form-error {
    display: none;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2px;
}